body {
  font-family: Arial, sans-serif;
  margin: auto;
  background-color: #ffffff;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/380/523/681/design-neon-abstract-light-design-hd-wallpaper-preview.jpg);
  background-size: cover;
  padding: 1%;
}


header {
  background-color: rgb(27, 27, 27);
  color: #020202;
  padding: 10px;
  
}
#antezana{
  text-align: center;
  color: #fff;
  font-size: 35px;

}
.stock {
  border: 2px solid rgb(252, 248, 248);
  padding: 10px;
  width: 250px;
  height: 200px;
  margin: 2.7%;
  background-image: url(https://images7.alphacoders.com/107/thumbbig-1075059.webp);
  background-size: cover;
  padding: 1%;
  border-radius: 5px;
}
.navigation{
  width: 35px;
  height: 35px;
  display: flex;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #f4ebeb;
  text-decoration: none;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 50px;
  opacity: 1;
  border: 2px solid rgb(27, 27, 27);
  width: 1000px;
  height: 1000px;
  background-color: rgb(27, 27, 27);
}

footer {
  background-color: #050505;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: b;
}

.footer-left {
  text-align: left;
  color:#ffffff;
}

.footer-right {
  text-align: right;
}