body {
    background-color: #ffdd90;
    background-image: url(https://1.bp.blogspot.com/-eIFlOli2R70/XfTUNlWB5hI/AAAAAAAAGdo/jNcub1eVmdUWZpQsKAbCuavfM_oH0OgjACLcBGAsYHQ/w1200-h630-p-k-no-nu/xDDE.jpg);
    background-size: cover;
    padding: 1%;
    text-align: center;
  }